$primary: #222;
$primary-lighter: lighten($primary, 5%);
$primary-darker: darken($primary, 5%);

$secondary: #263859;
$accent1: #6b778d;
$accent2: #ff6768;

$textColor: lighten($accent1, 40%);

$white: #FFF;
$purps: #bc17e6;